<ul>
<% current_page.children.sort_by{ |a| [a.data.weight , a.data.title] }.each do |page| %>
  <% if page.data.hide_in_toc != true %>
     <% if page.data.link_in_toc == true %>
        <li><%= link_to page.data.title, page.url %> <%= page.data.summary %> </li>
     <% else %>
        <li><%= page.data.summary %> </li>
     <% end %>
  <% end %>
  <ul>
  <% sorted_children = page.children.sort_by { |a| [(a.data.weight ||0), (a.data.title ||0)] } %>
  <% sorted_children.each do |subpage| %>
      <% if ! subpage.url.include? "png" %>
          <li><%= link_to subpage.data.title, subpage.url %> <%= subpage.data.summary %> </li>
      <% end %>
  <% end %>
  </ul>
<% end %>
</ul>
